<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="hruh">

 


  <gazebo>
    <plugin filename="gz-sim-joint-state-publisher-system"
        name="gz::sim::systems::JointStatePublisher"/>
  </gazebo>

  <gazebo>
    <!-- chest_to_left_shoulder -->
    <plugin filename="gz-sim-joint-position-controller-system"
        name="gz::sim::systems::JointPositionController">
      <joint_name>chest_to_left_shoulder</joint_name>
      <p_gain>300</p_gain><i_gain>2</i_gain><d_gain>3</d_gain>
      <i_min>-6</i_min><i_max>6</i_max>
    </plugin>

    <!-- left_shoulder_to_bisecp -->
    <plugin filename="gz-sim-joint-position-controller-system"
        name="gz::sim::systems::JointPositionController">
      <joint_name>left_shoulder_to_bisecp</joint_name>
      <p_gain>300</p_gain><i_gain>2</i_gain><d_gain>3</d_gain>
      <i_min>-6</i_min><i_max>6</i_max>
    </plugin>

     <!-- left_bisecp_to_elbow_inword -->
    <plugin filename="gz-sim-joint-position-controller-system"
        name="gz::sim::systems::JointPositionController">
      <joint_name>left_bisecp_to_elbow_inword</joint_name>
      <p_gain>300</p_gain><i_gain>2</i_gain><d_gain>3</d_gain>
      <i_min>-6</i_min><i_max>6</i_max>
    </plugin>

    
    <!-- left_elbow_inword_to_midle -->
    <plugin filename="gz-sim-joint-position-controller-system"
        name="gz::sim::systems::JointPositionController">
      <joint_name>left_elbow_inword_to_midle</joint_name>
      <p_gain>300</p_gain><i_gain>2</i_gain><d_gain>3</d_gain>
      <i_min>-6</i_min><i_max>6</i_max>
    </plugin>

    <!-- Left forarm to wrist Joint -->
    <plugin filename="gz-sim-joint-position-controller-system"
        name="gz::sim::systems::JointPositionController">
      <joint_name>left_forarm_to_wrist</joint_name>
      <p_gain>300</p_gain><i_gain>2</i_gain><d_gain>3</d_gain>
      <i_min>-6</i_min><i_max>6</i_max>
    </plugin>

   
    <!-- repeat per joint ... -->
  </gazebo>

  <gazebo>
    <!-- chest_to_right_shoulder -->
    <plugin filename="gz-sim-joint-position-controller-system"
        name="gz::sim::systems::JointPositionController">
      <joint_name>chest_to_right_shoulder</joint_name>
      <p_gain>300</p_gain><i_gain>2</i_gain><d_gain>3</d_gain>
      <i_min>-6</i_min><i_max>6</i_max>
    </plugin>

    <!-- right_shoulder_to_bisecp -->
    <plugin filename="gz-sim-joint-position-controller-system"
        name="gz::sim::systems::JointPositionController">
      <joint_name>right_shoulder_to_bisecp</joint_name>
      <p_gain>300</p_gain><i_gain>2</i_gain><d_gain>3</d_gain>
      <i_min>-6</i_min><i_max>6</i_max>
    </plugin>

    <!-- right_bisecp_to_elbow_inword -->
    <plugin filename="gz-sim-joint-position-controller-system"
        name="gz::sim::systems::JointPositionController">
      <joint_name>right_bisecp_to_elbow_inword</joint_name>
      <p_gain>300</p_gain><i_gain>2</i_gain><d_gain>3</d_gain>
      <i_min>-6</i_min><i_max>6</i_max>
    </plugin>

    
    <!-- right_elbow_inword_to_midle -->
    <plugin filename="gz-sim-joint-position-controller-system"
        name="gz::sim::systems::JointPositionController">
      <joint_name>right_elbow_inword_to_midle</joint_name>
      <p_gain>300</p_gain><i_gain>2</i_gain><d_gain>3</d_gain>
      <i_min>-6</i_min><i_max>6</i_max>
    </plugin>

    <!-- right forarm to wrist Joint -->
    <plugin filename="gz-sim-joint-position-controller-system"
        name="gz::sim::systems::JointPositionController">
      <joint_name>right_forarm_to_wrist</joint_name>
      <p_gain>300</p_gain><i_gain>2</i_gain><d_gain>3</d_gain>
      <i_min>-6</i_min><i_max>6</i_max>
    </plugin>

    

    <!-- repeat per joint ... -->
  </gazebo>

  <gazebo>
    <plugin filename="gz-sim-joint-position-controller-system" 
            name="gz::sim::systems::JointPositionController">
      <joint_name>arm_base_forearm_joint</joint_name>
      <p_gain>300</p_gain><i_gain>2</i_gain><d_gain>3</d_gain>
      <i_min>-6</i_min><i_max>6</i_max>
    </plugin>
  </gazebo>

  <!-- chest to neck -->
  <gazebo>
    <plugin filename="gz-sim-joint-position-controller-system" 
            name="gz::sim::systems::JointPositionController">
      <joint_name>chest_to_neck</joint_name>
      <p_gain>300</p_gain><i_gain>2</i_gain><d_gain>3</d_gain>
      <i_min>-6</i_min><i_max>6</i_max>
    </plugin>
  </gazebo>

  <!-- neck to head -->
  <gazebo>
    <plugin filename="gz-sim-joint-position-controller-system" 
            name="gz::sim::systems::JointPositionController">
      <joint_name>neck_to_head</joint_name>
      <p_gain>300</p_gain><i_gain>2</i_gain><d_gain>3</d_gain>
      <i_min>-6</i_min><i_max>6</i_max>
    </plugin>
  </gazebo>



  
  
  





</robot>