<?xml version="1.0"?>
<robot name="my_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="common_properties.xacro" />
    <!-- lower body: pelvis (base_link) + two 7-DOF legs, then the rigid torso -->
    <xacro:include filename="legs.xacro" />
    <xacro:include filename="legs_gazebo.xacro" />
    <xacro:include filename="torso.xacro" />
    <xacro:include filename="hruh.xacro" />
    <!-- ros2_control for all joints; hardware:=gz (default) | mock | none -->
    <xacro:include filename="hruh.ros2_control.xacro" />

    <!-- sensors can be switched off for faster simulation, e.g.
         xacro my_robot.urdf.xacro enable_lidar:=false enable_stereo_cameras:=false -->
    <xacro:arg name="enable_stereo_cameras" default="true"/>
    <xacro:arg name="enable_rgbd_camera" default="true"/>
    <xacro:arg name="enable_lidar" default="true"/>
    <xacro:property name="enable_stereo_cameras" value="$(arg enable_stereo_cameras)"/>
    <xacro:property name="enable_rgbd_camera" value="$(arg enable_rgbd_camera)"/>
    <xacro:property name="enable_lidar" value="$(arg enable_lidar)"/>

    <xacro:include filename="stereo_camera.xacro" />
    <xacro:include filename="rgbd_camera.xacro"/>
    <!-- <xacro:include filename="camera.xacro" /> -->
    <xacro:include filename="lidar_gz.xacro"/>
   


    <xacro:include filename="right_arm.xacro" />
    <xacro:include filename="right_arm_gripper.xacro" />


    <xacro:include filename="left_arm.xacro" />
    <xacro:include filename="left_arm_gripper.xacro" />

    

    

    

</robot>