<?xml version="1.0"?>
<robot name="my_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="common_properties.xacro" />
    <xacro:include filename="mobile_base.xacro" />
    <xacro:include filename="mobile_base_gazebo.xacro" />
    <xacro:include filename="arm.xacro" />
    <xacro:include filename="arm_gazebo.xacro" />
    <xacro:include filename="hruh.xacro" />
    <xacro:include filename="hruh_gazebo.xacro" />
    <xacro:include filename="camera.xacro" />
    <xacro:include filename="lidar.xacro" />

    <joint name="mobile_base_arm_joint" type="fixed">
        <parent link="base_link" />
        <child link="arm_base_link" />
        <origin xyz="${base_length / 10.0} 0 ${base_height}" rpy="0 0 3.14" />
    </joint>

    <gazebo>
        <plugin 
            filename="gz-sim-joint-state-publisher-system" 
            name="gz::sim::systems::JointStatePublisher">
            <joint_name>mobile_base_arm_joint</joint_name>
        </plugin>
    </gazebo>

    <!-- <gazebo>
        <plugin filename="libgz_ros2_control-system.so"
                name="gz_ros2_control::GazeboSimROS2ControlPlugin">
                <parameters>$(find my_robot_description)/config/ros2_controllers.yaml</parameters>
        </plugin>
    </gazebo> -->

    
    <!-- <gazebo>
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
            <robot_param>robot_description</robot_param>
            <parameters>$(find my_robot_description)/config/controllers.yaml</parameters>
        </plugin>
    </gazebo> -->

    

    

    

</robot>